.card {
    /* flex: 0 0 40%; */
    color: whitesmoke;
    width: 100%;
    margin: 1rem;
    padding: .2rem 1.2rem;
    max-width: 27rem;
    background-color: #23395B;
    border: 1rem; 
    border-style: solid;
    border-color: #161925;
    border-radius: 1rem;
    transition: box-shadow 1s;
}

.card:hover {
    box-shadow: 0 0 25px 1px #4182DC;
  }

.card-image{
    width: 27rem;
    height: 20rem;
}

.card-image img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: fill; 
}


.card-header-data{
    text-align: left;
    font-size: smaller;
    margin-bottom: 0;
}

.card-header-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-name p{
    margin: 0.6rem 0;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #ff8000;
}

.card-header-name h4{
    margin: 0.6rem 0;
}

.card-body-desc{
    text-align: justify;
    font-size: small;
    word-break: normal;
}

.card-desc{
    margin: 1rem 0;
    background-color: #4182DC;
    padding: 1rem;
    border-radius: .5rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer-text{
    font-size: x-small;
}